* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: #262626;
    padding: 20px;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__nav-list {
    list-style-type:none;
    font-size: 0;
}

.header__nav-item {
    margin-right: 10px;
    display: inline-block;
    font-size: initial;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__logo,
.header__nav-link,
.header__contact {
    color:#fff;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
}

.header__logo,
.header__nav {
    margin: 10px 10px 10px 0;
}

.header__logo {
    font-size: 2em;
}

.header__nav-link {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1em;
}

.header__contact {
    padding: 20px 40px;
    margin: 10px 0px 10px 0;
    border: 2px solid #fff;
    border-radius: 4px;
    font-weight: bold;
}