* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type:none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: #262626;
    padding: 10px 0;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__list {
    font-size: 0;
}

.header__item {
    margin-right: 14px;
    display: inline-block;
    font-size: initial;
    padding: 10px 0 10px 0;
}

.header__item:last-child {
    margin-right: 0;
}

.header__logo,
.header__link,
.header__contact {
    color:#fff;
}

.header__logo,
.header__nav,
.header__contact {
    margin: 15px 20px;
}

.header__logo {
    font-size: 2em;
    font-weight: bold;
}

.header__link {
    font-weight: bold;
}

.header__contact {
    padding: 20px 40px;
    border: 2px solid #fff;
    border-radius: 4px;
    font-weight: bold;
}